/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ====Контейнер==== */
.container {
  /* outline: 2px solid black; */
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-web {
  color: #2196f3;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ===Header=== */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-contacts {
  display: flex;
}

.site-nav-contacts > .item:not(:last-child) {
  margin-right: 50px;
}

/* Site nav */

.site-nav .link,
.site-nav-contacts .link,
.footer-contacts .link {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-contacts .link:hover,
.site-nav-contacts .link:focus {
  color: #2196f3;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.mailto-icon,
.tel-icon {
}

/* hero */
.hero {
  background-color: #2f303a;

  background-repeat: no-repeat;
  background-position: center;
}

.hero .container {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 30px;
}

/* Кнопка заказать услугу */
.hero-studio {
  display: block;
  margin-bottom: 200px;
  padding: 10px 32px;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border: none;
  text-align: center;
}

/* Section  */

/* ====Особенности==== */

.section {
  padding-top: 94px;
}

.section-title.heading {
  padding-top: 30px;
}

.container-icon {
  display: block;
  flex-wrap: wrap;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.svg-icon {
  width: 70px;
  margin: auto;
  display: flex;
}

.feature {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
}

.feature > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  padding-top: 50px;
  margin-left: -30px;
}

.card-set > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.section-heading,
.section-title-group,
.text-group {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.card-group .text-group {
  padding-bottom: 30px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.section .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.section-title-group {
  color: #212121;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 30px;
  padding-bottom: 10px;
}

.card-group .item {
  background-color: #ffffff;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 94px;
  margin-left: -30px;
}

.card-group > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.section-command {
  background-color: #f5f4fa;
}

.section-command .container {
  padding-top: 94px;
}

.section-command .text-group {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Портфолио */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 50px;
}

/* Кнопки фильтров */
.btn-filter {
  border: none;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  background: #f5f4fa;
}

.btn .item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.card-work {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;

  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16); */
}

.card-work > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.hero-btn {
  border: none;
}

.section-work {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-bottom: 4px;
}

.work-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
}

/* Footer */

.footer .container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-logo {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-bottom: 20px;
}

.footer {
  background-color: #2f303a;
}

.footer-contacts {
  padding-top: 22px;
  padding-bottom: 58px;
}

.footer-contacts .link {
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts .item {
  padding-top: 9px;
}

.cont-adress {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: #2196f3;
}
